:root{
    --dark-mode-color : #121212;
    --dark-card-color : rgba(18, 18, 18, 0.8);
    --dark-input : rgba(18, 18, 18, 0.2);
    --dark-mode-border : #763295;
}



/* darkmode test */
*{
    color: white;
}
.dark-background{
     background-color: var(--dark-mode-color);
 }
.dark-border{
    border: solid 3px var(--dark-mode-border);
}
.dark-input{
    background-color: var(--dark-input) !important;
    border-color: var(--dark-mode-border) !important;
    color: white !important;
}
input::placeholder {
    color: white !important;
}
.dark-modal-header{
    border-bottom: solid 1px var(--dark-mode-border);
}
.dark-modal-footer{
    border-top: solid 1px var(--dark-mode-border);
}
.dark-textarea{
    background-color: var(--dark-mode-color) !important;
    border-color: var(--dark-mode-border);
    color: white;
}
.dark-textarea:focus{
    color: white;
}
.dark-footer{
    border-top: solid 2px var(--dark-mode-border);
}
.dark-switch{
    background-color: var(--dark-mode-border);
    border-color: var(--dark-mode-border);
}
.dark-switch:hover{
    background-color: #803ca1;
    border-color: var(--dark-mode-border);
}
/**/
.fa-square-github{
    font-size: 1.3rem;
    margin-right: .5rem;
}

#theme-switch{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
}
@media (min-width: 1024px) {
    #theme-switch{
        top: 10px;
    }
}
@media (min-width: 531px) and (max-width: 1023px) {
    #theme-switch{
        top: 100px;
    }
}
@media (max-width: 530px) {
    #theme-switch{
        top: 130px;
    }
}
@media (max-width: 425px) {
    .page-title{
        font-size: 2rem;
    }
    #theme-switch{
        top: 100px;
    }
}

body{
    padding: 0 5%;

}
header{
    height: 15vh;
    margin: 40px 0;
    position: relative;
}
#imgLibrary{
    padding-bottom: 40px;
}
#imgLibrary img{
    height: 30vh;
    object-fit: cover;
}
.marginFormInput{
    margin-top: 20px;
}
.descBody{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: calc(1.2em * 3);
    line-height: 1.2em;
}
a{
    color: white;
    text-decoration: none;
}