body{
    padding: 0 5%;
}
header{
    height: 15vh;
    margin: 40px 0;
}
#imgLibrary{
    padding-bottom: 40px;
}
#imgLibrary img{
    height: 30vh;
    object-fit: cover;
}
.marginFormInput{
    margin-top: 20px;
}